.quickLinks {
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;


    .openButton {
        position: absolute;
        top: 0;
        left: 0;
        padding: 1vh;
        background-color: rgba(0, 0, 0, 0.9);
        color: #ffffff;

        &.bottom {
            top: auto;
            bottom: 0;
        }

        &.middle {
            top: 50%;
            transform: translateY(-50%);
        }

        &.right {
            left: auto;
            right: 0;
        }

        &.center {
            left: 50%;
            transform: translateX(-50%);
        }

    }

    .links {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: rgba(0, 0, 0, 0.9);
        color: #ffffff;
        flex-direction: column;
        gap: 1vh;
        padding: 2vh;
        // align-items: center;
        justify-content: center;
        display: none;
        &.open{
            display: flex;
        }

        .buttonLink {
            width: 100%;
            border: 1px solid white;
            padding: 1vh;
        }
    }

}